.cal{
    color: darkblue;
    background-color: magenta;
}
.date{
    color: white;
    background-color: black;
}
.titl{
    font-family: "Lucida Console", "Courier New", monospace;
}
.name{
    color: gold;
    background-color: black;
}